.app{
  min-height: 100vh;
  background-color: rgb(100, 144, 158);;
}
.tweet{
  /* border: 2px solid rgb(70, 70, 150); */
  display: inline-block;
  border-radius: 25px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* padding: 50px; */
  height: 300px;
  width: 300px;
}